@using Web.ViewModels.CartViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IndexViewModel


@if (Model.UserCart.CartItems is not null  && Model.UserCart.CartItems.Count() > 0)
{
    @foreach (var item in Model.UserCart.CartItems)
    {
        <p>Name: @item.ProductName Brand: @item.ProductBrand Quantity: @item.Quantity</p>
    }
}
else
{
    <p>There are no products in the shopping cart yet!</p>
}



<a asp-controller="Catalog"
   asp-action="Index">Return to Home</a>

<a asp-controller="Order"
   asp-action="CreateOrder">Go to Checkout</a>
