@using Web.ViewModels.CatalogViewModels

@model IndexViewModel




<ul>
    <li>
        <p>@Model.Product.Name</p>
        <p>@Model.Product.Price</p>
        <p>@Model.Product.Description</p>
        <p>@Model.Product.Brand.Name</p>
    </li>
</ul>
