@using Web.ViewModels.CatalogViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

@foreach(var p in Model.Products)
{
    <p>@p.Name</p>
}


@*Category filter*@

@*Render *@

@*Render all products with pagination*@

@*Render all products with pagination*@

@*Render all products with pagination*@