@using System.Text.Json
@using Web.ViewModels
@using Web.ViewModels.CatalogViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel


@if (Model.Product == null)
{
    <div class="catalog-display">
        <partial name="_Catalog" for="@Model" />
    </div>
}
else
{
    <partial name="/Views/Catalog/_Product.cshtml" model='new _ProductViewModel {
                                                            Product = @Model.Product}' />
                                                        }






